{% extends 'mapsite/base.html'%}
{% load static %}


{% block content %}

<div class="row main-row">
    <div class="col s1"></div>

	<div class="container page-content-col col s10" id="content-column">
		<div>
			<p class="page-header" id="sec1">О проекте</p>
			<p class="regular-text">Этот проект экспериментальный. Его основная задача – разработка учебника по семантике нового формата, опирающегося на широкие возможности интернет-среды. Мы хотим, чтобы такой учебник был интереснее, красочнее и удобнее традиционных бумажных пособий.
            <br/><br/>
			Такая задача сопряжена с целым рядом вопросов: как структурировать материал? как использовать новые возможности максимально полно? какого рода задания давать? насколько длинными должны быть фрагменты текста? каков должен быть процент схем, таблиц и картинок? Этот сайт представляет собой своего рода полигон для методических, научных и творческих экспериментов.
            <br><br/>
			Ещё один учебно-методический эксперимент в рамках этого проекта заключается в том, что первая версия сайта целиком и полностью создана студентами, причем не инициативной группой из 5-10 человек, а целым курсом, насчитывающим почти 60 учащихся.</p>
		</div>
	</div>

    <div class="col s1"></div>
</div>

{% endblock %}
