{% extends 'mapsite/base.html'%}
{% load static %}


{% block content %}

<div class="row main-row">
    <div class="col s1"></div>

	<div class="container page-content-col col s10" id="content-column">

        <div>
            <p class="page-header" id="sec1">Инструкция</p>
            <p class="regular-text">Этот проект экспериментальный. Его основная задача – разработка учебника по семантике нового формата, опирающегося на широкие возможности интернет-среды. Мы хотим, чтобы такой учебник был интереснее, красочнее и удобнее традиционных бумажных пособий.
            <br/><br/>
            Такая задача сопряжена с целым рядом вопросов: как структурировать материал? как использовать новые возможности максимально полно? какого рода задания давать? насколько длинными должны быть фрагменты текста? каков должен быть процент схем, таблиц и картинок? Этот сайт представляет собой своего рода полигон для методических, научных и творческих экспериментов.
            <br/><br/></p>
        </div>

 
		<div>
			<p class="page-header" id="sec1">Загрузка данных</p>
		</div>

        {% include 'mapsite/blocks/form.html' %}

    <div class="col s1"></div>
</div>

{% endblock %}
